{% extends "base.html" %}

{% block content %}
<div class="container mt-4 justify-content-center">
  <h1 class="mb-3">Tentang Aplikasi Web</h1>
  <p>Indonesia, dengan populasi yang terus meningkat dan pendapatan masyarakat yang semakin tinggi, mengalami peningkatan konsumsi protein hewani, terutama daging sapi. Daging sapi menjadi salah satu sumber protein utama bagi masyarakat Indonesia, khususnya bagi mayoritas penduduk yang beragama Islam. Namun, membedakan antara daging sapi dan daging babi tidak selalu mudah. Daging sapi memiliki tekstur yang lebih kaku dan serat yang lebih jelas dibandingkan daging babi yang berwarna lebih pucat.</p>
  
  <p>Keamanan dan kehalalan makanan adalah hal yang sangat penting, terutama di negara dengan populasi mayoritas Muslim. Pemalsuan daging, seperti mengganti daging sapi dengan daging babi, adalah masalah serius yang dapat merugikan konsumen. Oleh karena itu, identifikasi yang akurat antara kedua jenis daging ini menjadi sangat krusial.</p>
  
  <p>Untuk mengatasi tantangan ini, penggunaan teknologi klasifikasian citra berupa Convolutional Neural Network (CNN) dengan arsitektur InceptionV3 digunakan. Teknologi ini memungkinkan identifikasi daging yang cepat dan akurat, sehingga memberikan rasa aman dan jaminan bagi konsumen dalam memilih produk yang sesuai dengan kebutuhan dan keyakinan mereka.</p>
</div>
{% endblock %}
